{% extends "main/header2.html"%} {% block content %}
<div class="bg">

  <div class="container2">

    <div class="containerPic" style="align-self: center">
      <img src="https://i.imgur.com/5p8yWEQ.png" height="190px" width="190px">
    </div>
    <div>
        <form method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <div>
              <button type="submit">Login       
              </button>
          </div>
      </form>
    </div>

    <p>Registrar como:</p>
    <p><a href="/tutor_signup">Tutor</a></p>
    <p><a href="/student_signup">Estudiante</a></p>
    </div>
</div>
{% endblock %}
